<%- if controller_name != 'sessions' %>
  <h6 class="text-muted"><%= t("user.already?")%></h6>
  <%= link_to t("user.sign_in"), new_session_path(resource_name), class:"btn btn-primary btn-block" %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%- if OmniAuth::Utils.camelize(provider) == "GoogleOauth2" -%>
      <%= link_to omniauth_authorize_path(resource_name, provider), class:"btn btn-google btn-block" do %>
          <span class="fa fa-google"></span> &nbsp; <%= t("user.google_sign_in") %>
      <% end %>
    <%- elsif OmniAuth::Utils.camelize(provider) == "Facebook" -%>
      <%= link_to omniauth_authorize_path(resource_name, provider), class:"btn btn-facebook btn-block" do %>
          <span class="fa fa-facebook"></span>  &nbsp; <%= t("user.facebook_sign_in") %>
      <% end %>
    <% else %>
      <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
    <%- end -%>
  <% end -%>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <br /><h6 class="text-muted"><%= t("user.new")%></h6>
  <%= link_to t("user.sign_up"), new_registration_path(resource_name), class:"btn btn-primary btn-block" %>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <br /><h6 class="text-muted"><%= t("user.did_not_receive_email")%></h6>
    <%= link_to t("user.resent_email"), new_confirmation_path(resource_name), class:"btn btn-outline-secondary btn-block" %>
  <% end -%>
<% end -%>


<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
<% end -%>
