<div class="col-sm-6 col-md-3">
  <div class="card card-margin">
    <a class="card-anchor" href="/books/<%= book.id%>">
      <% if book.cover.present? %>
        <%= image_tag(book.cover.url, class: "card-img-top")%>
      <% else %>
        <%= image_tag "http://4.darkroom.stylist.co.uk/980/14a54a22c321c8968559825625c2def5:b6a41ec79d439f19d31111577dacf6dd/books.jpg", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-text"><%= book.author %></h5>
      <h4 class="card-title"><em>"<%= book.title %>"</em><small>, <%= book.public_year %>.</small></h4>
    </div>
    </a>
    <div class="card-footer">
      <p class="text-muted"><%= t("books.added_by", user: book.user.nickname)%></p>
      <% if current_user && current_user.id == book.user.id %>
        <div class="row">
          <div class="col"><%= link_to t("books.edit"), edit_book_path(book), class:"btn btn-outline-warning btn-sm btn-block" %></div>
          <div class="col"><%= link_to t("books.remove"), book, method: :delete, data: { confirm: 'Remove the book permanently from the database? Are you sure?' }, class:"btn btn-outline-danger btn-sm btn-block" %></div>
        </div>
      <% end %>
    </div>
</div>
</div>
