<%= form_for [book, review] do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", id: :review_content %>
  </div>

  <% if review.new_record? %>
    <div class="star-rating">
      <h6><%= t("reviews.rate")%></h6>
      <span class="fa fa-star-o" data-rating="1"></span>
      <span class="fa fa-star-o" data-rating="2"></span>
      <span class="fa fa-star-o" data-rating="3"></span>
      <span class="fa fa-star-o" data-rating="4"></span>
      <span class="fa fa-star-o" data-rating="5"></span>
      <%= form.hidden_field :rating, class: "rating-value" %>
    </div>
    <br />
    <script>
      var $star_rating = $('.star-rating .fa');

      var SetRatingStar = function() {
        return $star_rating.each(function() {
          if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
          } else {
            return $(this).removeClass('fa-star').addClass('fa-star-o');
          }
        });
      };

      $star_rating.on('click', function() {
      $star_rating.siblings('input.rating-value').val($(this).data('rating'));
        return SetRatingStar();
      });

      SetRatingStar();
      $(document).ready(function() {
      });
  </script>

  <% end %>

  <div class="field">
    <%= form.hidden_field :book_id, value: book.id %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit t("reviews.update"), class:"btn btn-success" %>
    <%= link_to t("reviews.discard"), book_path(@book) , class:"btn btn-link"%>
  </div>
<% end %>
